@import _colors
@import _typography
@import _layout
@import _looks
@import mixins-stage

//layout
body
  h1
    margin 0.3em 0 0 -2em
    text-align center  
  
  p
    clear both
    
  form
    margin (20/baseem) auto (72/baseem) auto
    width 55%
    text-align left
    label
      margin (16/baseem)
      display: block
    input, select
      width 100%
      margin-top (5/baseem)
      display: block
    input[type='submit']
      width auto
      float right
      padding (5/36em) (24/36em)
  
  #toolbar
    text-align left
    ul
      width auto
      margin (10/baseem) auto
      padding 0 auto
      display table
      li
        padding 0.5em
        display inline-block
      span
        padding 0.5em
        
  #header
    background url(../images/logo-pie.png) (13/baseem) (13/baseem) no-repeat
    background-size (75/baseem)
    height (85/baseem)
    padding (8/baseem)
    padding-left (98/baseem)
  
        
  ul#listing
    margin 0
    padding 0

    li
      margin 0
      padding (25/36em)
      padding-left (110/36em)
      text-align left
      overflow hidden
      white-space nowrap
      
      span.edit
        float right
        a
          padding 0.1em 0.25em 0 0.25em
      
      .status
        margin (-25/36em) 0.5em (-25/36em) (-15/36em)
        padding 0
        height 100%
        display inline-block
        vertical-align top
        
        .making, .ready, .inactive
          display inline-block
          margin 0
          padding 0
          height 100%
          vertical-align inherit
          p
            margin 0
            padding (100/36em) (25/36em) (10/36em) (25/36em)
            text-align center
            vertical-align bottom
            line-height 1.5em

//looks
body
  h1
    text-shadow 0 1px 0 $admin-header-border
    
  #header
    background-color $admin-header-bg
    border-top 1px solid lighten($admin-header-bg, 10%)
    border-bottom 3px solid $admin-header-border
    color $header-text
    
  form
    font-size (24/baseem)
    text-shadow 0 1px 0 darken($white, 10%)
    input, select, option
      background-color $white
      border 1px solid $admin-header-border
      border-radius (5/36em)
      color $admin-form-text
      font (36/36em) display-type
      
    input[type='file']
      background-color transparent 
      border none
      font-size 1em
      padding-top 0.5em
      
    input[type='submit']
      background-color $pie-blue
      border-color lighten($black, 25%)
      border-radius 1em
      color $white
      text-shadow 0 1px 0 $grey-dark
      
  #toolbar
    background-color $toolbar-bg
    border-top 1px solid $toolbar-border-light
    border-bottom 1px solid $toolbar-border-dark
    ul
      li
        border-radius (10/baseem)
        color $toolbar-color
        text-shadow 0 1px 0 $toolbar-shadow
        &:hover
          background-color $toolbar-li-hover
        &.current
          background-color $toolbar-li-active
          a, a:link, a:visited, a:active, a:hover
            color $white
        a
          &
            border-bottom 0
          &:link
            color $body-bg
          &:visited 
            color $body-bg
          &:active
            color $white
          &:hover
            color $white
      span
        color $pie-orange 
        //color darken($toolbar-shadow, 25%)
        text-shadow 0 1px 0 darken($toolbar-shadow, 25%)
        
  ul#listing
    li
      background-position (10/36em) center
      background-repeat no-repeat
      background-size (80/36em) (80/36em)
      background-color $grey-dim
      color $white
      text-shadow 0px 1px 0px $grey-dark
      font-size (36/baseem)
      font-weight normal
      letter-spacing (1/36em)
      text-overflow ellipsis
      border-top 1px solid lighten($grey-dim, 40%)
      border-bottom 1px solid darken($grey-dim, 40%)
      &.sweet
        background-image url(../images/icon-sweet.png)
      &.savory
        background-image url(../images/icon-savory.png)
      &.today
        background-color $li-today-bg
        border-top 1px solid darken($li-today-bg, 30%)
        border-bottom 1px solid $li-today-border
        color $li-today-text
        text-shadow 0 1px 0 $li-today-shadow
        span.edit
          a
            &, &:link, &:visited
              background-color lighten($li-today-bg, 20%)
              color $li-today-text
              text-shadow 0px -1px 0 $li-today-shadow
              border-radius (5px)
              border-top 1px solid darken($li-today-bg, 40%)
              border-right 1px solid $li-today-border
              border-bottom 1px solid $li-today-border
              border-left 1px solid darken($li-today-bg, 40%)
      span.edit
        a
          &, &:link, &:visited
            background-color $grey
            color $avisited
            text-shadow 0px 1px 0 $white
            text-transform lowercase
            border-radius (5px)
            border-top 1px solid $grey-dark
            border-right 1px solid $li-hot-status
            border-bottom 1px solid $li-hot-status
            border-left 1px solid $grey-dark
      .status
        color lighten($black, 20%)
        font-size 1em
        .making, .ready, .inactive
          cursor pointer
          font-size 0.5em
          text-transform lowercase
          background-size (100/36em)
          border (10/36em) solid $grey-dim
          letter-spacing 0
          opacity 0.2
          &:hover, &.on
            opacity 1
        .making
          background url("/images/stage-making.png") top center no-repeat
        .ready
          background url("/images/stage-ready.png") top center no-repeat
        .inactive
          background url("/images/stage-inactive.png") top center no-repeat
        