a(href="/instruct") 
  Creat A New Assignment


table
  tr
    td
      ul#problems Previous Assignments
        li Problem 1
        li Problem 2
        li Problem 3
        li problem 4
        li etc
  