ul#listing
  li.sweet.today Apple
    span.edit
      a(href='#') Remove
  li.savory.today Sour cream
    span.edit
      a(href='#') Remove
  li.savory Chicken pot
    span.edit
      a(href='#') Add
  li.savory Mushroom & Meat
    span.edit
      a(href='#') Add
  li.sweet Strawberry Rhubarb
    span.edit
      a(href='#') Add