@import _typography

display-type = 'MuseoSlab', 'Clarendon', 'Helvetica Neue', Helvetica, Arial, sans-serif
emphasize-type = 'MuseoSlabItalic', 'Clarendon', 'Helvetica Neue', Helvetica, Arial, sans-serif

base = 16
basepx = unit(base, 'px')
baseem = unit(base, 'em')

//Layout for everything
body
  margin 0
  padding 0
  
  h1
    margin 0.4em 0 0 -2em
    text-align center
  p
    padding 1em
  
  #header
    background url(../images/logo-pie.png) (23/baseem) (23/baseem) no-repeat
    height (100/baseem)
    padding (23/baseem)
    padding-left (123/baseem)
    
  p.flash
    margin 0 auto
    font-size 1.5em
    -webkit-transition: opacity 1s ease-out
        
    &.error
      background-color $orange-hot
      border-top 1px solid $pie-orange
      border-bottom 1px solid $pie-orange
      color $white
      
    &.error:before      
      font-family emphasize-type
      font-style italic
      content: 'Whoops! '
      
    &.info
      background-color $white
      border-top 1px solid $grey-dark
      border-bottom 1px solid $grey-dark
      color $black
      
    &.info:before
      font-family emphasize-type
      font-style italic
      content: 'Hurray! '
      
  p.thanks
    line-height 1.5em