// color theme

$blue = #0072bc

$pie-blue = #024a7f
$pie-orange = #f28b00

$orange-hot = #ed5a02
$orange-bright = #ed7102
$orange-light = #f28b00

$red-hot = #ef0000
$red-dark = lighten(#8f0101, 5%)

$grey-bright = #d6d6d6
$grey-light = #cbcbcb
$grey = #bbbbbb
$grey-dim = #adadad
$grey-dark = #8d8d8d

$white = #ffffff
$black = #010101

// attributions of above color theme

$body-bg = $grey
$body-text = darken($grey-dark, 20%)

$header-bg = $blue
$header-border = $pie-blue
$header-text = $white

$alink = $pie-blue
$avisited = darken($body-text, 50%)
$ahover = $blue

// LOGIN colors

$login-header-bg = $grey-dark
$login-header-border = darken($white, 60%)

$login-form-text = $pie-blue
$login-form-border = darken($white, 60%)

// ADMIN colors

$admin-header-bg = $pie-blue
$admin-header-border = darken($pie-blue, 25%)

$admin-form-text = $pie-blue
$admin-form-border = darken($white, 60%)

$toolbar-bg = darken($admin-header-bg, 20%)
$toolbar-border-light = lighten($admin-header-bg, 20%)
$toolbar-border-dark = darken($toolbar-bg, 20%)

$toolbar-color = darken($white, 5%)
$toolbar-shadow = $toolbar-border-dark

$toolbar-li-active = darken($toolbar-bg, 20%)
$toolbar-li-hover = $pie-blue

//    pies in list selected for today's menu

$li-today-bg = $grey-light
$li-today-border = $white

$li-today-text = $blue
$li-today-shadow = $pie-blue

//SIDEWALK 
//    making includes .ready and .not-ready classes
$li-making-text = $grey-dark
$li-making-status = darken($grey-dark, 12%)
$li-making-shadow = $grey-bright

$li-pipinhot-bg = $orange-hot
$li-pipinhot-border = $red-hot
$li-pipinhot-text = $black
$li-pipinhot-status = $red-dark
$li-pipinhot-shadow = $red-hot

$li-hot-bg = $orange-bright
$li-hot-border = #ed3f02
$li-hot-text = $white
$li-hot-status = $grey-bright
$li-hot-shadow = $li-hot-border

$li-warm-bg = $orange-light
$li-warm-border = darken(#ed7102, 10%)
$li-warm-text = $white
$li-warm-status = darken($white, 10%)
$li-warm-shadow = $li-warm-border
