
a(href="/create") 
  img(src="../images/button.png")



table
  tr
    td
      ul#problems Created Problems
        li req.body.problemtitle
        li Problem 2
        li Problem 3
        li problem 4
        li etc
  
